@use "../abstracts" as abs;
/*-----------------------------*\
    #Helper
\*-----------------------------*/
.container {
  margin: 0 auto;
  max-width: 20.8rem;

  @include abs.respond-to("laptop") {
    max-width: 34rem;
  }
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip-path: inset(1px 1px 1px 1px);
  white-space: nowrap;
}
