@use "../abstracts" as abs;

/*-----------------------------*\
    #calculator 
\*-----------------------------*/

.calculator {
  /*|| header --------------------------*/
  color: var(--text-color-1);

  &__header {
    margin-top: 1.7rem;

    &-wrapper {
      @include abs.flexify($js-con: space-between);
    }
  }

  &__logo {
    font-size: 2rem;
    margin-left: 0.2rem;
  }

  /*|| menu --------------------------*/

  &__menu {
    min-width: 9rem;
    &-wrapper {
      display: grid;
      grid-template:
        [row1-start] "custom toggle" [row1-end]
        [row2-start] "heading toggle" [row2-end] / 1fr 1fr;
    }

    &-title {
      font-size: abs.rem(11px);
      letter-spacing: abs.rem(1.5px);
      font-weight: 700;
    }

    &-setting {
      grid-area: custom;
      background: url("../assets/images/icon-cog.svg") center/contain no-repeat;
      width: 1.3rem;
      height: 1.3rem;
      border: none;
    }

    &-title {
      grid-area: heading;
    }

    &-toggle {
      grid-area: toggle;
    }
  }

  /*|| screen  --------------------------*/

  &__screen {
    margin-top: 2rem;
    position: relative;

    &-wrapper {
      text-align: right;
    }

    &-display {
      position: absolute;
      width: 100%;
      height: auto;
      padding: 0.5rem 1.6rem;
      font-size: 0.6rem;
      filter: brightness(50%);
    }

    &-input {
      width: 100%;
      background-color: var(--toggle-bg-keypad-bg);
      padding: 1.5rem 1.5rem 1.66rem 1.1rem;
      font-size: 2rem;
      font-weight: 700;
      color: var(--text-color-1);
      border: none;
      border-radius: 1rem;
      font-family: inherit;
      text-align: inherit;
    }
  }

  /*|| laptop  --------------------------*/
  @include abs.respond-to("laptop") {
    &__header {
      margin-top: abs.rem(98px);
    }

    &__screen {
      &-input {
        padding: 2rem 2rem 2.3rem 1.1rem;
        font-size: 3rem;
      }
    }
  }
}
