.light-theme {
  // backgrounds
  --main-bg: hsl(0, 0%, 90%);
  --toggle-bg-keypad-bg: hsl(0, 5%, 81%);
  --screen-bg: hsl(0, 0%, 93%);

  // key

  --key-bg-color-1: hsl(185, 42%, 37%);
  --key-shadow-color-1: hsl(185, 58%, 25%);
  --key-bg-color-2: hsl(25, 98%, 40%);
  --key-shadow-color-2: hsl(25, 99%, 27%);
  --key-bg-color-3: hsl(45, 7%, 89%);
  --key-shadow-color-3: hsl(35, 11%, 61%);

  // logo
  --logo: hsl(198, 20%, 13%);

  //Text
  --text-color: hsl(0, 0, 100%);
  --text-color-1: hsl(198, 20%, 13%);
  --equal-sign: hsl(0, 0%, 100%);
  --white: hsl(0, 0%, 100%);
}
